*{
	background: red;
	background-color: blue;
	margin-left: 20px;
}
.first-section{
	font-size: 20px;
	color: white;
}
.btn{
	height: 20px;
	width: 180px;
	border-radius: 50px;
	margin-left: 20px;
	color: red;
	background-color: black;
}
.third-section{
	color: white;

}
.btn2{
	border-radius: 50px;
}